.wsu-plugin-gutenberg-admin {
	&-dot {
		border-radius: 50%;
		display: inline-block;
		margin: 2px;
		height: 20px;
		line-height: 20px;
		width: 20px;
		color: white;
		font-size: 12px;
		text-align: center;

		&--green {
			background-color: #3fc21e;
		}
		&--red {
			background-color: #d42127;
		}
		&--orange {
			background-color: #f67428;
		}
		&--yellow {
			background-color: #f3b81c;
		}
	}
}
